<div [class]="panelClass()">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-3">
        <i [class]="iconClass()"></i>
      </div>
      <div class="col-md-9 text-right">
        <div class="status">{{ task.status }}</div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-sm">
      <tbody>
        <tr>
          <th>ID:</th>
          <td>{{ task.id }}</td>
        </tr>
        <tr>
          <th>Title:</th>
          <td>{{ task.title }}</td>
        </tr>
        <tr>
          <th>Description:</th>
          <td>{{ task.description }}</td>
        </tr>
        <tr>
          <th>Author:</th>
          <td>{{ task.author }}</td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>{{ task.status }}</td>
        </tr>
        <tr>
          <th>Creation Date:</th>
          <td>{{ task.creationDate }}</td>
        </tr>
        <tr>
          <th>Last Update:</th>
          <td>{{ task.lastUpdate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
    <app-edit-task [task]="task" style="margin-right: 10px;"></app-edit-task>
    <button class="btn btn-danger" (click)="deleteTask()">Delete</button>
  </div>
</div>
